.glide img {
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  width: 220px;
  height: 330px;
}

.glide {
  cursor: grab;
}

.slider {
  padding-bottom: 140px;
}
